.catalogue {
  &__list {
    padding: 40px 0;
  }
  &__item {
    border-radius: 15px;
    overflow: hidden;
  }
  &__not-exists {
    padding: 24px 0;
  }
}
.item-catalogue {
  &__description {
    background-color: #e6e6e6;
    padding: 26px 20px;
  }
  &__ingridients {
    color: #7b7c85;
    font-size: 1rem;
  }
  &__border {
    padding-bottom: 12px;
    border-bottom: 1px solid #fff;
  }
  &__title {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 300;
  }
  &__weight {
    color: #818181;
    font-size: 1rem;
  }
  &__price {
    font-size: 1.3rem;
    color: #595959;
  }
  &__buy {
    flex: 0 0 200px;
    border-radius: 10px;
  }
  &__add {
    font-weight: 500;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 150px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
