._flex {
  display: flex;
  &._ai-c {
    align-items: center;
  }
  &._jc-sb {
    justify-content: space-between;
  }
  &._jc-c {
    justify-content: center;
  }
  &._f-dir-col {
    flex-direction: column;
  }
  &._f-wrap-w {
    flex-wrap: wrap;
  }
}
