@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./reset.css");
@import url("./flex.scss");

:root {
  --color-red: rgb(192, 9, 55);
}

html,
body {
  background-color: #efefef;
  font-family: "Roboto", sans-serif;
}
._container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
}
._image img {
  text-align: center;
  width: 100%;
  object-fit: contain;
}
